.swiper-button-prev,.swiper-button-next{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    min-width: 45px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6) !important;
}

.swiper-button-prev:after,.swiper-button-next:after{
    font-size: 22px !important;
    color: black;

}