.MuiTabs-indicator{
    background-color:#ff5252 !important;
}

.MuiButtonBase-root {
    text-transform: none !important;
    font-size: 0.975rem !important;
    padding: 5px !important;
}

.MuiTab-textColorPrimary.Mui-selected{
    color: #ff5252 !important;
    border-width: 10px !important;
}