.title{
    line-height: 18px;
}

// .productItem .actions button:hover svg{
   
// }

.productItem{
    .actions{
        button{
            &:hover{
                color:#fff !important
            }
            svg{
                pointer-events: none !important;
            }
        }
    }
}