.nav li .submenu{
    visibility: hidden;
    z-index: 1000;
}

.nav li .submenu li button{
    color: rgba(0,0,0,0.8) !important;
    font-weight: 500 !important;
}

.nav li .submenu li:hover button{
    color: #ff5252 !important;
}

.nav li .submenu li .submenu button{
    color: rgba(0,0,0,0.8) !important;
}
.nav li .submenu li .submenu button{
    color: #ff5252 !important;
}

.nav li:hover .submenu{
   opacity: 1 !important;
   visibility: inherit;
}


.nav li .submenu li .submenu{
    top:0px !important;
    left: 120px !important;
    opacity: 0 !important;
    visibility: hidden;
}

.nav li .submenu li:hover .submenu{
    top:20px !important;
    left: 101% !important;
    opacity: 1 !important;
    visibility: inherit;
}

.nav li .submenu li .submenu button{
  color: rgba(0,0,0,0.8) !important;
}
.nav li .submenu li .submenu button:hover{
    color:#ff5252 !important;
} 



@media only screen and (min-width:320px) and (max-width:992px) {
    .navContainer{
        ul{
            white-space: nowrap !important;
            overflow-x: scroll !important;
            overflow-y: hidden !important;
            display: block !important;
            text-align: center !important;
            li{
                display: inline-block !important;
                vertical-align: top !important;
                
            }
            &::-webkit-scrollbar{
                display: none !important;
            }
        }
    }
}