.homeCartSlider{
    overflow: inherit !important;
    .swiper-button-prev{
        left: 5px !important;
    }
    .swiper-button-next{
        right: 5px !important;
    }
    .swiper-button-prev,.swiper-button-next{
        width: 30px;
        height: 30px;
        min-width: 30px;
    }
    .swiper-button-prev:after,.swiper-button-next:after{
        font-size: 18px !important;
        color: black;
    }


    .item{
        &:hover img{
            transform: scale(0.7);
        }
    }
}

